<template lang="pug">
	.subChapterLeft
		.container.container--extended
			.container.container--half.container--editor.editor
				button.editor__closer(@click.stop="$emit('removeComponent', cKey)")
					icon-close
				.subChapterLeft__body
					.subChapterLeft__icon-wrapper
						.editor
							button.editor__closer
								icon-close
							.subChapterLeft__icon
					.subChapterLeft__title(
						v-html="meta.title || '#set title#'",
						:class="{'subChapterLeft__subTitle--empty': !meta.title}",
						:style="{color: project.primaryFontColor}"
					)
					.subChapterLeft__subTitle(
						v-html="meta.subTitle || '#set subtitle#'",
						:class="{'subChapterLeft__subTitle--empty': !meta.subTitle}",
						:style="{color: project.primaryFontColor}"
					)
</template>

<script>
	import "./SubChapterLeft.scss";
	
	export default {
		props: {
			meta: Object,
			project: Object,
			cKey: Number
		}
	}
</script>