@import "css-utils";

.subChapterLeft {
	margin-top: 110px;
	
	.container {
		&--half {
			margin-left: -20px;
		}
		&--editor {
			padding-left: 81px;
			padding-right: 81px;
		}
	}
	
	&__icon-wrapper,
	&__icon {
		height: 40px;
		width: 40px;
	}
	
	&__icon-wrapper {
		margin-bottom: 25px;
	}
	
	&__title {
		font-family: Montserrat, sans-serif;
		font-size: 34px;
		font-weight: 600;
		line-height: 1.41;
		letter-spacing: -0.6px;
	}
	
	&__subTitle {
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		margin-top: 20px;
		line-height: 1.7;
	}
}
