.button-adm {
	border-radius: 18px;
	cursor: pointer;
	padding: 8px 16px;
	font-size: .875rem;
	font-weight: 600;
	line-height: 1.43;
	margin: 0 5px;
	
	&--secondary {
		background-image: linear-gradient(to bottom, $white, $lightest);
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		color: #212b36;
	}
	
	&--primary {
		background-color: $blue;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		color: $white;
	}
}