.datepicker {
	$root: &;
	position: absolute;
	z-index: 100;
	
	top: 100% !important;
	right: 0 !important;
	left: auto !important;
	
	border-radius: 2px;
	background-color: $white;
	box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08), 0 0 0 1px rgba(6, 44, 82, 0.1);
	transform: translateY(20px);
	
	width: 304px;
	
	padding: 15px;
	
	&:not(.active) {
		visibility: hidden;
	}
	
	&--pointer {
		position: absolute;
		background: #fff;
		border-left: 1px solid #dbdbdb;
		border-top: 1px solid #dbdbdb;
		width: 14px;
		height: 14px;
		z-index: -1;
		border-radius: 2px;
	}
	
	&.-bottom-right- {
		#{$root}--pointer {
			right: 20px;
			top: 0;
			border-top-left-radius: 5px;
			transform: rotate(45deg) translateY(-50%) translateY(-4px);
		}
	}
	
	&--nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 5px;
		
		&-action {
			height: 20px;
			width: 20px;
			display: flex;
			
			&[data-action="next"] {
				svg {
					transform: rotate(180deg);
				}
			}
			
			cursor: pointer;
			
			svg {
				fill: $grayer;
				height: 100%;
				width: 100%;
				display: block;
			}
		}
		
		&-title {
			font-weight: 600;
			line-height: 1.5;
			color: #212b36;
			cursor: pointer;
		}
	}
	
	&--days {
		margin-top: 11px;
		&-names {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
	
	&--day-name {
		font-family: 'Open Sans', sans-serif;
		font-size: .75rem;
		line-height: 1.33;
		text-align: center;
		color: #637381;
		padding: 0 10.5px;
		flex-basis: percentage(1/7);
	}
	
	&--cells {
		display: grid;
		margin-top: 10px;
		
		&-days {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
		&-months {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}
		&-years {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
	
	&--cell {
		text-align: center;
		
		&.-other-month- {
			visibility: hidden;
		}
		
		&-day,
		&-month,
		&-year {
			height: 38px;
			display: flex;
			align-items: center;
			justify-content: center;
			
			font-family: 'Open Sans', sans-serif;
			font-size: .875rem;
			line-height: 1.14;
			text-align: center;
			color: #637381;
			
			&.-focus- {
				cursor: pointer;
			}
			
			&.-selected- {
				border-radius: 19px;
				background: $blue;
				color: $white;
			}
		}
	}
	
	&--body {
		&:not(.active) {
			display: none;
		}
	}
}