.editable {
	position: relative;
	&__block {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: -10px;
			top: -10px;
			right: -10px;
			bottom: -10px;
			border: dashed 1px rgb(152, 154, 157);
		}
	}
	&__close {
		height: 20px;
		width: 20px;
		position: absolute;
		right: -19px;
		top: -19px;
		border-radius: 100%;
		box-shadow: inset 0 0 0 2px $gray;
		background: white;
		cursor: pointer;
		
		svg {
			display: block;
			height: 100%;
			width: 100%;
			fill: $gray;
			padding: 3px;
		}
	}
}