.field-set {
	margin-top: 25px;
	border-top: 2px solid #dfe3e8;
	padding-top: 25px;
	
	&__title {
		font-size: .8125rem;
		font-weight: 600;
		line-height: 1.54;
		letter-spacing: -0.2px;
		color: $gray;
		text-transform: uppercase;
	}
	
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	&__body {
		background: #f0eff0;
		padding: 20px 20px 30px;
		position: relative;
		margin: 25px -20px 0;
		
		&:after {
			content: '';
			position: absolute;
			background: #f0eff0;
			border-left: 1px solid #f0eff0;
			border-top: 1px solid #f0eff0;
			transform: translateY(50%) rotate(45deg);
			width: 14px;
			height: 14px;
			right: 21px;
			bottom: 100%;
			z-index: 1;
			border-radius: 2px;
		}
	}
}