.form-group {
	$root: &;
	display: flex;
	flex-wrap: wrap;
	&:not(&--center) {
		align-items: flex-start;
		#{$root} {
			&__label {
				margin-top: 8px;
			}
		}
	}
	&--center {
		align-items: center;
	}
	align-items: flex-start;
	justify-content: center;
	position: relative;
	&:not(:nth-child(1)) {
		margin-top: 16px;
	}
	
	&__label {
		width: 23%;
		flex-shrink: 0;
		white-space: nowrap;
		
		font-family: 'Open Sans', sans-serif;
		font-size: .875rem;
		line-height: 1.43;
		letter-spacing: -0.2px;
		color: #212b36;
		
		+ #{$root}__field {
			flex-grow: 1;
			width: 77%;
		}
	}
	
	&__error {
		width: 77%;
		margin-left: auto;
		margin-top: 5px;
		color: red;
		font-size: .7rem;
	}
}