.row {
	display: flex;
	margin: 0 -8px;
	
	&:not(&--center):not(&--stretch) {
		align-items: flex-start;
	}
	
	&--center {
		align-items: center;
	}
	
	&--stretch {
		//align-items: flex-start;
	}
	
}

.col {
	flex-grow: 1;
	flex-shrink: 0;
	margin: 0 8px;
	
	@for $i from 1 to 12 {
		&-#{$i} {
			flex-shrink: 1;
			flex-basis: percentage($i/12);
		}
	}
}