@import "_form-group";
@import "_field-set";
@import "_row";
@import "_datepicker";
@import "_button";
@import "_editable";

.container {
	@include container;
}

.project {
	.editor {
		position: relative;
		
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		&:before {
			border: 1px solid;
			border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFklEQVQYV2OcMWvufwY0kJGWzIguBgCCagQCwKmENwAAAABJRU5ErkJggg==) 1 repeat round;
		}
		&:after {
			border: 1px solid;
			border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAE0lEQVQYV2OYMWvufwZsBAMOAAALJQ4H8bjR0QAAAABJRU5ErkJggg==) 1 repeat round;
		}
		
		> * {
			position: relative;
			z-index: 1;
		}
		
		&:hover {
			background-color: #20344a6b;
		}
		
		&__closer {
			height: 20px;
			width: 20px;
			display: block;
			position: absolute;
			top: -10px;
			right: -10px;
			border-radius: 100%;
			background: $lighter;
			box-shadow: inset 0 0 0 2px $gray;
			cursor: pointer;
			
			svg {
				fill: $gray;
				height: 100%;
				width: 100%;
				padding: 3.5px;
			}
		}
	}
	
	&:not(&--editing) {
		.editor {
			&:before,
			&:after {
				display: none;
			}
			&__closer {
				display: none;
			}
			&:hover {
				background-color: transparent;
			}
		}
	}
}