<template lang="pug">
	modal(:active="modalActive", @close="closeModal")
		template(slot="header")
			h2(v-html="modalTitle")
			.form-group.project-form__isFeatured
				field-checkbox(
				name="isFeatured", label="Featured project", :value="model.isFeatured", @setValue="setValue", :form="formComputed"
				)
		template(slot="body")
			action(:data="formComputed", :url="route", @setValidation="setValidation", @close="closeModal", @success="success")
				template(slot="fields")
					.field-set
						.form-group
							.form-group__label Name
							.form-group__field
								field-text(
								name="name", :value="model.name", @setValue="setValue", :form="formComputed"
								)
							.form-group__error(v-html="validation.name.join(', ')", v-if="validation.name")
						.form-group
							.form-group__label Slogan
							.form-group__field
								field-text(
								name="slogan", :value="model.slogan", @setValue="setValue", :form="formComputed"
								)
							.form-group__error(v-html="validation.slogan.join(', ')", v-if="validation.slogan")
						.form-group
							.form-group__label Status
							.form-group__field
								.row
									.col.col-6
										field-select(
										name="status", :value="model.status", :options="fields.status.options", @setValue="setValue", :form="formComputed"
										)
									.col.col-6(v-if="['published'].indexOf(formComputed.status) > -1")
										field-date(
										name="publishedAt", :value="model.publishedAt", @setValue="setValue", :form="formComputed"
										)
							.form-group__error(v-html="validation.status.join(', ')", v-if="validation.status")
							.form-group__error(v-html="validation.publishedAt.join(', ')", v-if="validation.publishedAt")
						.form-group
							.form-group__label Cover
							.form-group__field
								.row
									.col
										field-file(
										name="coverDesktop", :value="model.coverDesktop", label="Desktop", @setValue="setValue", :form="formComputed"
										)
									.col
										field-file(
										name="coverMobile", :value="model.coverMobile", label="Mobile", @setValue="setValue", :form="formComputed"
										)
							.form-group__error(v-html="validation.coverDesktop.join(', ')", v-if="validation.coverDesktop")
							.form-group__error(v-html="validation.coverMobile.join(', ')", v-if="validation.coverMobile")
						.form-group
							.form-group__label Thumbnail
							.form-group__field
								.row
									.col
										field-file(
										name="thumbnailDesktop", :value="model.thumbnailDesktop", label="Desktop", @setValue="setValue", :form="formComputed"
										)
									.col
										field-file(
										name="thumbnailMobile", :value="model.thumbnailMobile", label="Mobile", @setValue="setValue", :form="formComputed"
										)
							.form-group__error(v-html="validation.thumbnailDesktop.join(', ')", v-if="validation.thumbnailDesktop")
							.form-group__error(v-html="validation.thumbnailMobile.join(', ')", v-if="validation.thumbnailMobile")
					.field-set
						.field-set__title Product details
						.form-group
							.form-group__label Client
							.form-group__field
								field-textarea(
								name="client", :value="model.client", @setValue="setValue", :form="formComputed"
								)
							.form-group__error(v-html="validation.client.join(', ')", v-if="validation.client")
						.form-group
							.form-group__label Task
							.form-group__field
								field-textarea(
								name="task", :value="model.task", @setValue="setValue", :form="formComputed"
								)
							.form-group__error(v-html="validation.task.join(', ')", v-if="validation.task")
						.form-group
							.form-group__label Our role
							.form-group__field
								field-select(
								name="roles", :value="model.roles", :tags="true", @setValue="setValue", :form="formComputed"
								)
							.form-group__error(v-html="validation.roles.join(', ')", v-if="validation.roles")
						.form-group
							.form-group__label Project link
							.form-group__field
								field-text(
								name="link", :value="model.link", @setValue="setValue", :form="formComputed"
								)
							.form-group__error(v-html="validation.link.join(', ')", v-if="validation.link")
						.form-group
							.form-group__label Tags
							.form-group__field
								field-select(
									name="tags", :value="model.tags", :tags="true", @setValue="setValue", :form="formComputed",
									:availableTags="['Apps', 'Sportbook', 'News', 'eCommerce', 'Finance', 'Gambling', 'Concepts', 'Real Estate', 'Customer Services', 'Entertainment', 'Museum']"
								)
							.form-group__error(v-html="validation.tags.join(', ')", v-if="validation.tags")
						.form-group
							.form-group__label Brand color
							.form-group__field
								field-text(
								name="brandColor", :value="model.brandColor", @setValue="setValue", :form="formComputed", type="color"
								)
							.form-group__error(v-html="validation.brandColor.join(', ')", v-if="validation.brandColor")
					.field-set
						.field-set__title Overview
						.form-group.form-group--center
							.form-group__label Overview layout
							.form-group__field
								field-radio(
								name="layout", :value="model.layout", @setValue="setValue", :form="formComputed", :options="['triple', 'single']"
								)
							.form-group__error(v-html="validation.layout.join(', ')", v-if="validation.layout")
						.form-group
							.form-group__label Logo
							.form-group__field
								field-file(
								name="overviewLogo", :value="model.overviewLogo", @setValue="setValue", :form="formComputed", :big="false"
								)
							.form-group__error(v-html="validation.overviewLogo.join(', ')", v-if="validation.overviewLogo")
						.form-group
							.form-group__label Overview text
							.form-group__field
								field-textarea(
								name="overviewText", :value="model.overviewText", @setValue="setValue", :form="formComputed"
								)
							.form-group__error(v-html="validation.overviewText.join(', ')", v-if="validation.overviewText")
						.form-group(v-if="formComputed.layout === 'single'")
							.form-group__label Background image
							.form-group__field
								.row
									.col
										field-file(
										name="overviewBackgroundDesktop", :value="model.overviewBackgroundDesktop", label="Desktop", @setValue="setValue", :form="formComputed"
										)
									.col
										field-file(
										name="overviewBackgroundMobile", :value="model.overviewBackgroundMobile", label="Mobile", @setValue="setValue", :form="formComputed"
										)
							.form-group__error(v-html="validation.overviewBackgroundDesktop.join(', ')", v-if="validation.overviewBackgroundDesktop")
							.form-group__error(v-html="validation.overviewBackgroundMobile.join(', ')", v-if="validation.overviewBackgroundMobile")
						.form-group(v-for="(tile, index) in ['first', 'second', 'third']", v-if="formComputed.layout === 'triple'")
							.form-group__label {{tile.charAt(0).toUpperCase() + tile.slice(1)}} tile
							.form-group__field
								.row.row--stretch
									.col.col-3
										field-file(
										:name="'overviewTileImage' + (index + 1)", :value="model['overviewTileImage' + (index+1)]", @setValue="setValue", :form="formComputed"
										)
									.col.col-10(:style="{display: 'flex', 'flex-direction': 'column', 'justify-content': 'space-between'}")
										field-text(
										:name="'overviewTileLabel' + (index + 1)", :value="model['overviewTileLabel' + (index+1)]", @setValue="setValue", :form="formComputed"
										)
										field-text(
										:name="'overviewTileDescription' + (index + 1)", :value="model['overviewTileDescription' + (index+1)]", @setValue="setValue", :form="formComputed"
										)
							.form-group__error(v-html="validation['overviewTileImage' + (index + 1)].join(', ')", v-if="validation['overviewTileImage' + (index + 1)]")
							.form-group__error(v-html="validation['overviewTileLabel' + (index + 1)].join(', ')", v-if="validation['overviewTileLabel' + (index + 1)]")
							.form-group__error(v-html="validation['overviewTileDescription' + (index + 1)].join(', ')", v-if="validation['overviewTileDescription' + (index + 1)]")
						.form-group
							.form-group__label Background color
							.form-group__field
								field-text(
								name="overviewBackgroundColor", :value="model.overviewBackgroundColor", @setValue="setValue", :form="formComputed", type="color"
								)
							.form-group__error(v-html="validation.overviewBackgroundColor.join(', ')", v-if="validation.overviewBackgroundColor")
					.field-set
						.field-set__header
							.field-set__title Custom Theme
							.field-set__control
								field-checkbox(
								name="customTheme", :value="model.customTheme", @setValue="setValue", :form="formComputed"
								)
							.field-set__error(v-html="validation.customTheme.join(', ')", v-if="validation.customTheme")
						.field-set__body(v-if="Boolean(formComputed.customTheme)")
							.form-group
								.form-group__label Background color
								.form-group__field
									field-text(
									name="backgroundColor", :value="model.backgroundColor", @setValue="setValue", :form="formComputed", type="color"
									)
								.form-group__error(v-html="validation.backgroundColor.join(', ')", v-if="validation.backgroundColor")
							.form-group
								.form-group__label Primary font color
								.form-group__field
									field-text(
									name="primaryFontColor", :value="model.primaryFontColor", @setValue="setValue", :form="formComputed", type="color"
									)
								.form-group__error(v-html="validation.primaryFontColor.join(', ')", v-if="validation.primaryFontColor")
							.form-group
								.form-group__label Secondary font color
								.form-group__field
									field-text(
									name="secondaryFontColor", :value="model.secondaryFontColor", @setValue="setValue", :form="formComputed", type="color"
									)
								.form-group__error(v-html="validation.secondaryFontColor.join(', ')", v-if="validation.secondaryFontColor")
							.form-group
								.form-group__label Buttons/dot color
								.form-group__field
									field-text(
									name="dotColor", :value="model.dotColor", @setValue="setValue", :form="formComputed", type="color"
									)
								.form-group__error(v-html="validation.dotColor.join(', ')", v-if="validation.dotColor")
							
							.form-group
								.form-group__label Background image
								.form-group__field
									.row
										.col
											field-file(
											name="backgroundImageDesktop", :value="model.backgroundImageDesktop", label="Desktop", @setValue="setValue", :form="formComputed"
											)
										.col
											field-file(
											name="backgroundImageMobile", :value="model.backgroundImageMobile", label="Mobile", @setValue="setValue", :form="formComputed"
											)
								.form-group__error(v-html="validation.backgroundImageDesktop.join(', ')", v-if="validation.backgroundImageDesktop")
								.form-group__error(v-html="validation.backgroundImageMobile.join(', ')", v-if="validation.backgroundImageMobile")
</template>

<script>
	import "./Project.scss";
	
	export default {
		methods: {
			setValue(field, value) {
				this.$set(this.form, field, value);
			},
			closeModal() {
				this.modalActive = false;
				this.$emit('close');
			},
			success() {
				this.$emit('success')
			},
			setValidation(validation) {
				this.validation = validation;
			}
		},
		computed: {
			formComputed() {
				let keys = Object.keys(this.form).concat(Object.keys(this.model)),
					form = {};
				
				keys.map(key => {
					form[key] = this.form.hasOwnProperty(key) ? this.form[key] : this.model[key];
				});
				
				return form;
			}
		},
		watch: {
			active(active) {
				this.modalActive = active;
			}
		},
		data() {
			return {
				modalActive: this.active,
				validation: {},
				form: {},
				fields: {
					status: {
						options: {
							published: 'Published',
							support: 'In Support',
							draft: 'Draft',
							archived: 'Archived'
						}
					}
				}
			}
		},
		props: {
			model: {
				type: Object,
				default: () => {
					return {
					}
				}
			},
			route: {
				type: String
			},
			active: {
				type: Boolean,
				default: false
			},
			modalTitle: {
				type: String,
				default: 'Create new project'
			}
		}
	}
</script>