@import "css-utils";

.control {
	$root: &;
	height: 60px;
	display: flex;
	align-items: center;
	padding: 11px;
	background: $lighter;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 10;
	
	&__close {
		height: 38px;
		width: 38px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		background-image: linear-gradient(to bottom, $white, $lightest);
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		
		svg {
			display: block;
			height: 20px;
			width: 20px;
			fill: $gray;
		}
	}
	
	&__menu {
		position: relative;
		margin-left: 20px;
		
		&--active {
			#{$root}__label {
				background-image: linear-gradient(to bottom, $white, $lightest);
				box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
			}
		}
		&:not(&--active) {
			#{$root}__label {
				box-shadow: 0 0 0 1px $light;
				
				svg {
					fill: $gray;
					transform: rotate(180deg);
				}
			}
			#{$root}__items {
				visibility: hidden;
				opacity: 0;
				transform: translateY(-5px);
			}
		}
	}
	
	&__label {
		border-radius: 19px;
		padding: 7px 14px;
		display: flex;
		align-items: center;
		cursor: pointer;
		
		span {
			font-size: 14px;
			font-weight: 600;
			line-height: 1.71;
			color: $black;
		}
		
		svg {
			margin-left: 9px;
			width: 8px;
			fill: $black;
		}
	}
	
	&__items {
		position: fixed;
		left: 0;
		max-height: calc(100vh - 60px);
		overflow-y: auto;
		top: 60px;
		transition: all .15s ease-in-out;
		
		width: 264px;
		padding-bottom: 10px;
	}
	
	&__item {
		display: flex;
		align-items: center;
		padding: 14px 17px 14px 45px;
		background: $white;
		cursor: pointer;
		height: 49px !important;
		width: 100% !important;
		&:not(:nth-last-child(1)) {
			border-bottom: 1px solid #dfe3e8;
		}
		&:nth-last-child(1) {
			border-bottom-right-radius: 4px;
		}
		
		&-title {
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			line-height: 1.43;
			letter-spacing: -0.2px;
			color: #212b36;
			font-weight: normal;
			position: relative;
			flex-grow: 1;
		}
		
		&-remove {
			position: absolute;
			right: 100%;
			top: 50%;
			transform: translateX(-18px) translateY(-50%);
			height: 13px;
			width: 10px;
			cursor: pointer;
			svg {
				display: block;
				height: 100%;
				width: 100%;
				fill: $gray;
			}
			
			&:hover {
				svg {
					fill: $red;
				}
			}
		}
		
		&-drag {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 14px;
			width: 8.8px;
			cursor: pointer;
			
			svg {
				display: block;
				height: 100%;
				width: 100%;
				fill: $gray;
			}
		}
		
		&-lock {
			margin-left: auto;
			height: 14px;
			width: 11px;
			fill: $light;
			display: block;
		}
		
		&--placeholder {
			background: $lighter;
		}
	}
	
	&__components {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
	}
	
	&__component {
		margin: 0 5px;
		display: block;
		padding: 8px 13px;
		border-radius: 18px;
		cursor: pointer;
		
		&:hover {
			background-image: linear-gradient(to bottom, $white, $lightest);
			box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
			
			svg {
				fill: $blue;
			}
		}
		
		svg {
			height: 18px;
			width: 18px;
			display: flex;
			fill: $gray;
		}
	}
	
	&__buttons {
		display: flex;
		align-items: center;
	}
	
	&__cog {
		cursor: pointer;
		height: 20px;
		width: 20px;
		margin-right: 28px;
		svg {
			display: block;
			height: 100%;
			width: 100%;
			fill: $gray;
		}
	}
	
	&__publish,
	&__editing {
		cursor: pointer;
		
		border-radius: 18px;
		background-image: linear-gradient(to bottom, $white, $lightest);
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		
		padding: 8px 14px;
		margin-right: 12px;
		
		font-size: 14px;
		font-weight: 600;
		line-height: 1.43;
		text-align: center;
		color: #212b36;
	}
	
	&__editing {
		margin-left: 20px;
	}
	
	&__save {
		cursor: pointer;
		
		border-radius: 18px;
		background-color: $blue;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		
		padding: 8px 14px;
		
		font-size: 14px;
		font-weight: 600;
		line-height: 1.43;
		text-align: center;
		color: $white;
	}
}