<template lang="pug">
	.control(v-if="project")
		router-link.control__close(:to="{name: 'index'}")
			icon-close
		.control__menu(:class="{'control__menu--active': menuActive}")
			button.control__label(@click.prevent="menuActive = !menuActive")
				span(v-html="project.name")
				icon-caret-small
			.control__items(ref="items")
				.control__item.control__item--fixed(v-for="(item, index) in ['Header', 'Project Details', 'Overview']", :key="index")
					.control__item-title(v-html="item")
					icon-lock.control__item-lock
				.control__item(v-for="(component, index) in components", :key="index + 4", :data-id="index", v-if="components.length")
					.control__item-title
						div(v-html="(index + 1) + ': ' + component.type")
						button.control__item-remove(@click="removeComponent(index)")
							icon-trash
						div.control__item-drag
							icon-drag
		button.control__editing(@click.prevent="$emit('toggleEditing')", v-html="(isEditing ? 'Hide' : 'Show') + ' editing'")
		.control__components
			button.control__component(v-for="(component, index) in componentTypes", :key="index", @click.prevent="addComponent(component)")
				component(:is="'icon-comp-' + component")
		.control__buttons
			button.control__cog(@click.prevent="showModal(projectId)")
				icon-cog
			button.control__publish(v-if="project.status !== 'published'", @click.prevent="setStatus('published')") Publish
			button.control__save(@click.prevent="save") Save
		transition(name="fade", mode="out-in", appear)
			form-project.portfolio__modal(
			:active="modalActive",
			:route="modalEditUrl",
			:model="modalModel",
			@close="closeModal",
			:modalTitle="modalTitle",
			v-if="modalActive",
			@success="success"
			)
</template>

<script>
	import "./Control.scss";
	
	
	export default {
		components: {
			'icon-comp-chapter': require('../../../../images/svg/components/header.svg'),
			'icon-comp-subChapter': require('../../../../images/svg/components/header-part.svg'),
			'icon-comp-subChapterRight': require('../../../../images/svg/components/subheader-right.svg'),
			'icon-comp-subChapterLeft': require('../../../../images/svg/components/subheader-left.svg'),
			'icon-comp-delimiter': require('../../../../images/svg/components/delimiter.svg'),
			'icon-comp-image': require('../../../../images/svg/components/image.svg'),
			'icon-comp-twoImages': require('../../../../images/svg/components/images-2.svg'),
			'icon-comp-multipleImages': require('../../../../images/svg/components/images-3.svg'),
			'icon-comp-splitView': require('../../../../images/svg/components/split-view.svg'),
			'icon-comp-slider': require('../../../../images/svg/components/slider.svg'),
			'icon-comp-tabs': require('../../../../images/svg/components/tabs.svg'),
		},
		methods: {
			addComponent(component) {
				this.$emit('addComponent', component);
			},
			removeComponent(index) {
				this.$emit('removeComponent', index);
			},
			setStatus(status) {
				this.$emit('setStatus', status);
			},
			success() {
				this.$emit('fetchProject')
			},
			closeModal() {
				this.modalActive = false;
				this.modalModel = {};
				this.modalEditUrl = null;
				this.modalTitle = null;
				this.$emit('close');
			},
			showModal(id = null) {
				if (id !== null) {
					this.modalTitle = 'Edit project #' + id;
					this.modalEditUrl = this.$router.resolve({
						name: 'api',
						params: {
							entity: 'projects',
							action: 'update'
						},
						query: {
							id: id
						}
					}).href;
					
					this.modalModel = this.project;
				}
				
				this.modalActive = true;
			},
		},
		mounted() {
		},
		data() {
			return {
				menuActive: false,
				modalActive: false,
				modalEditUrl: null,
				modalTitle: null,
				modalModel: {}
			}
		},
		props: [
			'project', 'projectId', 'components', 'componentTypes', 'isEditing'
		]
	}
</script>