<template lang="pug">
	.subChapterRight
		.container.container--extended
			.container.container--half.container--editor.editor
				button.editor__closer(@click.stop="$emit('removeComponent', cKey)")
					icon-close
				.subChapterRight__body
					.subChapterRight__icon-wrapper
						.editor
							button.editor__closer
								icon-close
							.subChapterRight__icon
					.subChapterRight__title(
						v-html="meta.title || '#set title#'",
						:class="{'subChapterRight__subTitle--empty': !meta.title}",
						:style="{color: project.primaryFontColor}"
					)
					.subChapterRight__subTitle(
						v-html="meta.subTitle || '#set subtitle#'",
						:class="{'subChapterRight__subTitle--empty': !meta.subTitle}",
						:style="{color: project.primaryFontColor}"
					)
</template>

<script>
	import "./SubChapterRight.scss";
	
	export default {
		props: {
			meta: Object,
			project: Object,
			cKey: Number
		}
	}
</script>