@import "css-utils";

.modal-adm {
	$root: &;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 2, 18, 0.85);
	z-index: 100;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	padding: 20px;
	
	overflow-y: scroll;
	
	transition: all .15s ease-in-out;
	
	&:not(&--active) {
		opacity: 0;
		visibility: hidden;
		
		#{$root}__dialog {
			transform: translateY(-15px);
		}
	}
	
	&__container {
		flex-grow: 1;
		max-width: 591px;
		max-height: 100%;
		display: flex;
		flex-direction: column;
	}
	
	&__dialog {
		border-radius: 4px;
		background: $lighter;
		padding: 20px;
		margin-bottom: 20px;
		transition: all .15s ease-in-out;
	}
	
	&__header {
		display: flex;
		align-items: center;
		position: relative;
	}
	
	&__title {
		flex-grow: 1;
		margin-top: 4px;
		h2 {
			font-size: 1.25rem;
			font-weight: 600;
			line-height: 1.6;
			letter-spacing: -.4px;
			color: $black;
			text-align: center;
		}
	}
	
	&__close {
		height: 38px;
		width: 38px;
		border-radius: 100%;
		background-image: linear-gradient(to bottom, $white, $lightest);
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		padding: 9px;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		
		svg {
			height: 100%;
			width: 100%;
			display: flex;
			fill: $gray;
		}
	}
	
	&__body {
	
	}
}
