<template lang="pug">
	.modal-adm(:class="{'modal-adm--active': activeModal}", @click="handleBackdropClick")
		.modal-adm__container
			.modal-adm__dialog
				.modal-adm__header
					.modal-adm__title
						slot(name="header") Header
					button.modal-adm__close(@click.prevent="close")
						icon-close
				.modal-adm__body
					slot(name="body") Body
				.modal-adm__footer
					slot(name="footer")
</template>

<script>
	import "./Modal.scss";
	
	import closest from 'closest';
	
	export default {
		components: {
			'icon-close': require('../../../images/svg/close.svg'),
		},
		methods: {
			handleBackdropClick(e) {
				if(!(closest(e.target, '.modal-adm__dialog', true))) {
					// this.close();
				}
			},
			close() {
				this.activeModal = false;
				this.$emit('close');
			}
		},
		watch: {
			active(active) {
				this.activeModal = active;
			}
		},
		data() {
			return {
				activeModal: this.active
			}
		},
		props: {
			active: {
				type: Boolean,
				default: false
			}
		}
	}
</script>