<template lang="pug">
	.checkbox
		input.checkbox__input(type="checkbox", :true-value="trueValue", :id="id", :false-value="falseValue", :name="name", v-model="dValue")
		label.checkbox__label(:for="id")
			.checkbox__control
				icon-check
			.checkbox__title(v-html="label", v-if="label")
</template>

<script>
	import "./Checkbox.scss";
	
	export default {
		components: {
			'icon-check': require('../../../images/svg/check.svg')
		},
		data() {
			return {
				id: 'id-' + this.randomString(),
				dValue: Boolean(this.value) ? this.trueValue : this.falseValue
			}
		},
		watch: {
			dValue(value) {
				this.$emit('setValue', this.name, value);
			},
			value(value) {
				this.$set(this, 'dValue', value);
			}
		},
		props: {
			name: String,
			label: String,
			value: [String, Number],
			trueValue: {
				type: [String, Number],
				default: 1
			},
			falseValue: {
				type: [String, Number],
				default: 0
			},
			form: {
				type: Object,
				default() {
					return {}
				}
			}
		}
	}
</script>