@import "css-utils";

.checkbox {
	$root: &;
	display: flex;
	align-items: center;
	justify-content: center;
	
	&__input {
		position: absolute;
		opacity: 0;
		z-index: -1;
		&:checked {
			+ {
				#{$root} {
					&__label {
						#{$root} {
							&__control {
								background: $blue;
								svg {
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
	}
	
	&__label {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	
	&__control {
		border-radius: 3px;
		background-color: $white;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		height: 16px;
		width: 16px;
		
		svg {
			height: 100%;
			width: 100%;
			display: block;
			opacity: 0;
			padding: 2px;
			fill: $white;
		}
	}
	
	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: .875rem;
		line-height: 1.43;
		letter-spacing: -0.2px;
		color: #212b36;
		margin-left: 8px;
	}
}