<template lang="pug">
	.date
		input.date__input(ref="input", :name="name", v-model="dValue", :id="id")
		label.date__label(:for="id", v-html="dateFormatted || 'Choose...'", :class="{'date__label--placeholder': !dateFormatted}")
</template>

<script>
	import "./Date.scss";
	
	import moment from 'moment';
	
	export default {
		computed: {
			dateFormatted() {
				return this.dValue ? moment.unix(this.dValue).format(this.format) : null;
			}
		},
		mounted() {
			let arrowHtml = require('!!raw-loader!../../../images/svg/arrow.svg').default;
			
			$(this.$refs.input)
				.datepicker({
					position: 'bottom right',
					language: 'en',
					prevHtml: arrowHtml,
					nextHtml: arrowHtml,
					navTitles: {
						days: 'MM yyyy',
					},
					autoClose: true,
					onSelect: (formattedDate, date, inst) => {
						this.dValue = moment(date).unix('x');
					},
				});
			
			$(this.$refs.input).parent().append(
				$(this.$refs.input).data('datepicker').$datepicker
			);
		},
		beforeDestroy() {
			if($(this.$refs.input).data('datepicker')) {
				$(this.$refs.input).data('datepicker').destroy();
			}
		},
		data() {
			return {
				id: 'id-' + this.randomString(),
				dValue: this.value
			}
		},
		watch: {
			dValue(value) {
				this.$emit('setValue', this.name, value);
			},
			value(value) {
				this.$set(this, 'dValue', value);
			}
		},
		props: {
			name: String,
			value: [String, Number],
			format: {
				type: String,
				default: 'MM/DD/YYYY'
			},
			type: {
				type: String,
				default: 'input'
			},
			form: {
				type: Object,
				default() {
					return {
					
					}
				}
			}
		}
	}
</script>