@import "css-utils";

.date {
	position: relative;
	
	&__input {
		position: absolute;
		opacity: 0;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	
	&__label {
		border-radius: 4px;
		background-image: linear-gradient(to bottom, $white, $lightest);
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		display: flex;
		align-items: center;
		padding: 8px 8px 8px 12px;
		font-size: .875rem;
		
		cursor: pointer;
		
		
		&--placeholder {
			color: transparentize(#212b36, .4);
		}
	}
}