<template lang="pug">
	.file
		input.file__input(type="file", :name="name", ref="input", :accept="accept.length ? accept.join(',') : false", @change="handleFileChange", v-if="uploadReady")
		.file__thumbnail(v-if="big", @click="focusField", :style="{'background-image': 'url(' + dValue + ')', 'background-color': 'white'}")
			.file__thumbnail-label(v-html="label", v-if="label")

			button.file__thumbnail-edit(v-if="dValue", @click.stop.prevent="focusField")
				icon-pencil
			button.file__thumbnail-remove(v-if="dValue", @click.stop.prevent="clearField")
				icon-trash
			button.file__thumbnail-add(v-if="!dValue", @click.stop.prevent="focusField")
				icon-plus
		button.file__choose(v-if="!big && !this.activePopup", @click.prevent="focusField") Upload a file
		.file__popup(v-if="!big && activePopup")
			.file__popup-label(v-html="basename")
			button.file__popup-edit(v-if="dValue", @click.prevent="focusField")
				icon-pencil
			button.file__popup-remove(v-if="dValue", @click.prevent="clearField")
				icon-trash

</template>

<script>
	import "./File.scss";
	
	export default {
		methods: {
			focusField() {
				this.$refs.input.click();
			},
			clearField() {
				this.$set(this, 'dValue', null);
			},
			handleFileChange() {
				let files = this.$refs.input.files;
				
				if(!files.length) {
					return;
				}
				
				let data = new FormData;
				
				data.append('file', files[0]);
				
				$.ajax({
					url: this.$router.resolve({
						name: 'api',
						params: {
							entity: 'files',
							action: 'insert'
						}
					}).href,
					type: 'post',
					data: data,
					contentType: false,
					processData: false,
					dataType: 'json',
					success: (json) => {
						if(json.status === 200) {
							this.$set(this, 'dValue', json.response.file);
							// this.dValue = json.response.file;
						}
					},
					error: (res) => {
					}
				});
			}
		},
		components: {
			'icon-pencil': require('../../../images/svg/pencil.svg'),
			'icon-plus': require('../../../images/svg/plus-o.svg'),
			'icon-trash': require('../../../images/svg/trash.svg'),
		},
		computed: {
			activePopup() {
				return this.dValue && this.dValue.length;
			},
			basename() {
				if(!(this.dValue && this.dValue.length)) {
					return null;
				}
				
				let base = String(this.dValue).substring(this.dValue.lastIndexOf('/') + 1);
				if(base.lastIndexOf(".") !== -1)
					base = base.substring(0, base.lastIndexOf("."));
				return base;
			}
		},
		data() {
			return {
				uploadReady: true,
				id: 'id-' + this.randomString(),
				dValue: this.value
			}
		},
		watch: {
			dValue(value) {
				this.$emit('setValue', this.name, value);
				
				this.uploadReady = false;
				this.$nextTick(() => {
					this.uploadReady = true;
				});
			},
			value(value) {
				this.$set(this, 'dValue', value);
			}
		},
		props: {
			name: String,
			value: String,
			accept: {
				type: Array,
				default() {
					return [
						// 'image/jpeg', 'image/png', 'image/webp', 'image/gif', 'video/mp4', 'image/svg+xml'
					]
				}
			},
			label: {
				type: String,
			},
			big: {
				type: Boolean,
				default: true
			},
			form: {
				type: Object,
				default() {
					return {
					
					}
				}
			}
		}
	}
</script>