@import "css-utils";

.file {
	&__input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	
	&__thumbnail {
		height: 86px;
		position: relative;
		background: no-repeat center linear-gradient(to bottom, $white, rgb(253, 253, 253));
		background-size: cover;
		border-radius: 3px;
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		
		&-label {
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 3px;
			padding: 3px 8px;
			position: absolute;
			left: 10px;
			top: 10px;
			font-size: .625rem;
			color: $white;
			font-weight: 600;
		}
		
		&-add {
			height: 16px;
			width: 16px;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			
			svg {
				height: 100%;
				width: 100%;
				display: block;
				fill: $grayer;
			}
		}
		
		&-edit,
		&-remove {
			height: 26px;
			width: 26px;
			background: rgba(0,0,0,.5);
			border-radius: 100%;
			position: absolute;
			top: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			
			svg {
				height: 12px;
				width: 12px;
				display: block;
			}
		}
		
		&-remove {
			right: 8px;
			svg {
				fill: $white;
			}
		}
		
		&-edit {
			right: 40px;
			svg {
				stroke: $white;
			}
		}
	}
	
	&__choose {
		border-radius: 4px;
		background-image: linear-gradient(to bottom, $white, rgb(253, 253, 253));
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		padding: 8px 16px;
		font-family: 'Open Sans', sans-serif;
		font-size: .875rem;
		line-height: 1.43;
		color: rgb(33, 43, 54);
		margin-left: auto;
		display: block;
		cursor: pointer;
	}
	
	&__popup {
		display: flex;
		align-items: center;
		padding: 5px 0;
		float: right;

		&-label {
			font-family: 'Open Sans', sans-serif;
			font-size: .875rem;
			line-height: 1.43;
			letter-spacing: -0.2px;
			color: #212b36;
			white-space: nowrap;
		}

		&-edit,
		&-remove {
			height: 26px;
			width: 26px;
			border-radius: 100%;
			background: $light;
			margin-left: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			svg {
				display: block;
			}
		}

		&-edit {
			svg {
				height: 12px;
				width: 12px;
				stroke: $grayer;
			}
		}

		&-remove {
			svg {
				height: 12px;
				width: 10.5px;
				fill: $grayer;
			}
		}
	}
}