<template lang="pug">
	.radio
		.radio__item(v-for="(option, index) in options", :key="index")
			input.radio__input(:name="name", v-model="dValue", :value="option", type="radio", :id="id + '-' + index")
			label.radio__option(:for="id + '-' + index")
				component.radio__icon(:is="'layout-' + option")
				.radio__dot
</template>

<script>
	import "./Radio.scss";
	
	export default {
		components: {
			'icon-check': require('../../../images/svg/check.svg'),
			'layout-triple': require('../../../images/svg/layout-triple.svg'),
			'layout-single': require('../../../images/svg/layout-single.svg'),
		},
		data() {
			return {
				id: 'id-' + this.randomString(),
				dValue: this.value
			}
		},
		watch: {
			dValue(value) {
				this.$emit('setValue', this.name, value);
			},
			value(value) {
				this.$set(this, 'dValue', value);
			}
		},
		props: {
			name: String,
			label: String,
			value: String,
			options: {
				type: Array,
				default() {
					return [
					
					]
				}
			},
			form: {
				type: Object,
				default() {
					return {
					
					}
				}
			}
		}
	}
</script>