@import "css-utils";

.radio {
	$root: &;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -8px;
	
	
	&__input {
		position: absolute;
		opacity: 0;
		z-index: -1;
		
		&:checked {
			+ #{$root} {
				&__option {
					#{$root}__icon {
						.layout-stroke {
							stroke: $blue;
						}
						.layout-fill {
							fill: $blue;
						}
					}
					#{$root}__dot {
						border: solid 1px $blue;
						&:after {
							background: $blue;
						}
					}
				}
			}
		}
		
		&:not(:checked) {
			+ #{$root} {
				&__option {
					#{$root}__icon {
						.layout-stroke {
							stroke: $gray;
						}
						.layout-fill {
							fill: $gray;
						}
					}
					#{$root}__dot {
						border: solid 1px rgb(196, 205, 213);
					}
				}
			}
		}
	}
	
	&__item {
		flex-grow: 1;
		min-width: 25%;
	}
	
	&__option {
		height: 56px;
		border-radius: 4px;
		background-color: $white;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		margin: 0 8px;
		position: relative;
		display: flex;
		cursor: pointer;
	}
	
	&__icon {
		position: absolute;
		left: 18px;
		top: 0;
		height: 100%;
		display: block;
		width: 33px;
	}
	
	&__dot {
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 100%;
		height: 16px;
		width: 16px;
		box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
		background-image: linear-gradient(to bottom, $white, rgb(249, 250, 251));
		
		&:after {
			content: '';
			position: absolute;
			top: 3px;
			right: 3px;
			bottom: 3px;
			left: 3px;
			border-radius: 100%;
			display: flex;
		}
	}
}