@import "css-utils";

.select {
	position: relative;
	
	&__input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	
	&__value {
		border-radius: 4px;
		background-image: linear-gradient(to bottom, $white, $lightest);
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		display: flex;
		align-items: center;
		padding: 8px 8px 8px 12px;
		
		cursor: pointer;
	}
	
	&__tags {
		border-radius: 4px;
		background-image: linear-gradient(to bottom, $white, $lightest);
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		display: flex;
		align-items: center;
		&--empty {
			padding: 2px 20px 5px 4px;
		}
		&:not(&--empty) {
			padding: 0 20px 4px 4px;
		}
		flex-wrap: wrap;
	}
	
	&__add-tag {
		flex-grow: 1;
		flex-shrink: 0;
		//min-width: 150px;
		font-family: 'Open Sans', sans-serif;
		line-height: 1rem;
		color: rgb(33, 43, 54);
		
		
		display: flex;
		align-items: center;
		padding: 5px 8px;
		
		margin-top: 4px;
		
		font-size: .875rem;
		
		&::placeholder {
			color: rgb(33, 43, 54);
			opacity: .6;
		}
	}
	
	&__tag {
		display: flex;
		align-items: center;
		border-radius: 4px;
		background-color: $light;
		padding: 5px 26px 5px 8px;
		margin-top: 4px;
		margin-right: 4px;
		position: relative;
		
		&-label {
			font-family: 'Open Sans', sans-serif;
			font-size: .875rem;
			line-height: 1.43;
			color: rgb(33, 43, 54);
			word-break: break-all;
		}
		
		&-close {
			right: 5px;
			top: 7px;
			position: absolute;
			width: 16px;
			height: 16px;
			fill: $gray;
			cursor: pointer;
			
			svg {
				height: 100%;
				width: 100%;
				display: block;
			}
		}
	}
	
	&__value-label {
		font-family: 'Open Sans', sans-serif;
		font-size: .875rem;
		line-height: 1.43;
		color: #212b36;
		
		&--placeholder {
			opacity: .6;
		}
	}
	
	&__value-caret {
		margin-left: auto;
		height: 20px;
		width: 20px;
		
		flex-shrink: 0;
		
		svg {
			height: 100%;
			width: 100%;
			display: flex;
			fill: $gray;
		}
	}
	
	&__tag-caret {
		position: absolute;
		right: 4px;
		top: 4px;
		bottom: 4px;
		width: 20px;
		
		flex-shrink: 0;
		
		display: flex;
		align-items: center;
		justify-content: center;
		
		svg {
			height: 20px;
			width: 100%;
			display: flex;
			fill: $gray;
		}
	}
	
	&__options {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 1;
		transform: translateY(4px);
		
		border-radius: 4px;
		background-image: linear-gradient(to bottom, $white, $lightest);
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		
		&:not(&--active) {
			transform: translateY(-10px);
			opacity: 0;
			visibility: hidden;
		}
	}
	
	&__option {
		font-family: 'Open Sans', sans-serif;
		font-size: .875rem;
		line-height: 1.43;
		color: #212b36;
		padding: 8px 12px;
		cursor: pointer;
		
		&:not(&--active) {
		}
		
		&--active {
			opacity: .6;
			//pointer-events: none;
			//cursor: not-allowed;
		}
	}
}