<template lang="pug">
	.select(@click="handleTagsOutClick")
		select.select__input(:name="name", v-model="dValue", :id="id", tabindex="-1")
		.select__tags(:for="id", v-if="tags", :class="{'select__tags--empty': !Array.isArray(dValue) || !dValue.value }")
			.select__tag(v-for="(tag, index) in Array.isArray(dValue) ? dValue : []", :key="index")
				.select__tag-label(v-html="tag")
				button.select__tag-close(@click.prevent="removeTag(index)")
					icon-close
			input.select__add-tag(
				@keyup="tagValue = $refs.tagInput.value"
				@keydown.enter.prevent="addTag",
				@keydown.delete="removeLastTag",
				ref="tagInput",
				placeholder="Type tag...",
				@focus="activeAvailableTags = true",
				@blur="addTag()"
			)
			.select__tag-caret
				icon-caret
		.select__value(:for="id", @click="active = !active", v-if="!tags")
			.select__value-label(v-html="options[dValue] || 'Choose...'", :class="{'select__value-label--placeholder': !dValue}")
			.select__value-caret
				icon-caret
		.select__options(:class="{'select__options--active': active}", v-if="!tags")
			.select__option(
				v-for="(label, key, index) in options",
				:key="index",
				@click="dValue = key; active = false;",
				v-html="label",
				:class="{'select__option--active': dValue == key}"
			)
		.select__options(:class="{'select__options--active': activeAvailableTags}", v-if="tags && availableTags.length")
			.select__option(
				v-for="(label, index) in availableTags",
				:key="index",
				@click="addAvailableTag(label); activeAvailableTags = false",
				v-html="label",
				v-if="availableTagsSubstractQuery(label)"
				:class="{'select__option--active': dValue && dValue.indexOf(label) > -1}"
			)
</template>

<script>
	import "./Select.scss";
	import closest from 'closest';
	
	export default {
		components: {
			'icon-caret': require('../../../images/svg/caret.svg'),
			'icon-close': require('../../../images/svg/close.svg'),
		},
		mounted() {
			document.addEventListener('click', this.handleTagsOutClick);
		},
		beforeDestroy() {
			document.removeEventListener('click', this.handleTagsOutClick);
		},
		methods: {
			handleTagsOutClick(e) {
				if(!(closest(e.target, '.select__options', true) || closest(e.target, '.select__add-tag', true))) {
					// this.activeAvailableTags = false;
					// this.active = false;
				}
			},
			availableTagsSubstractQuery(label) {
				let query = this.tagValue || '';
				return !query.length || label.toLowerCase().match(new RegExp('(.*)' + query.toLowerCase() + '+'));
			},
			addAvailableTag(label) {
				let index = this.dValue.findIndex((value) => {
					return label === value;
				});
				
				if(index > -1) {
					this.removeTag(index);
				}   else {
					this.$refs.tagInput.value = label;
					this.addTag();
				}
				
				this.tagValue = '';
			},
			removeLastTag(e) {
				let input = this.$refs.tagInput;
				
				if (input.value.length) {
					return;
				}
				
				e.preventDefault();
				
				if (Array.isArray(this.dValue) && this.dValue.length) {
					this.dValue.pop();
				}
				this.tagValue = '';
			},
			removeTag(index) {
				this.dValue.splice(index, 1);
				this.tagValue = '';
			},
			addTag() {
				let input = this.$refs.tagInput;
				
				
				if(this.availableTags.length) {
					let index = this.availableTags.findIndex((value) => {
						return value === input.value;
					});
					
					if(index === -1) {
						return;
					}
				}
				
				if(this.dValue.indexOf(input.value) > -1) {
					let index = this.dValue.findIndex((value) => {
						return input.value === value;
					});
					
					this.removeTag(index);
					input.value = '';
					this.tagValue = '';
					return;
				}
				
				if (!input.value.length) {
					return false;
				}
				
				if (!Array.isArray(this.dValue)) {
					this.dValue = [];
				}
				
				this.dValue.push(input.value.trim());
				
				input.value = '';
				this.tagValue = '';
			}
		},
		data() {
			return {
				activeAvailableTags: false,
				tagValue: null,
				active: false,
				id: 'id-' + this.randomString(),
				dValue: this.value
			}
		},
		watch: {
			dValue: {
				deep: true,
				handler(value) {
					this.$emit('setValue', this.name, value);
				}
			},
			value(value) {
				this.$set(this, 'dValue', value);
			}
		},
		props: {
			name: String,
			value: [String, Array],
			availableTags: {
				type: Array,
				default() {
					return [];
				}
			},
			options: {
				type: Object,
				default() {
					return {}
				}
			},
			tags: {
				type: Boolean,
				default: false
			},
			form: {
				type: Object,
				default() {
					return {}
				}
			}
		}
	}
</script>