<template lang="pug">
	.textarea-adm(
	:contenteditable="true",
	:name="name",
	:rows="rows",
	@input="update",
	:cols="cols",
	ref="field",
	v-model="dValue",
	data-placeholder="Type...",
	:class="{'textarea-adm--empty': isEmpty}"
	)
</template>

<script>
	import "./Textarea.scss";
	
	export default {
		methods: {
			update(e) {
				// this.$emit('setValue', this.name, e.target.innerHTML);
				this.dValue = e.target.innerHTML;
			}
		},
		computed: {
			isEmpty() {
				let val = this.dValue ? this.dValue.trim() : '';
				
				return val.length === 0 || ['<br>', '<br/>', '</br>'].indexOf(val) > -1;
			}
		},
		mounted() {
			this.$refs.field.innerHTML = this.dValue;
		},
		data() {
			return {
				id: 'id-' + this.randomString(),
				dValue: this.value || ''
			}
		},
		watch: {
			dValue(value) {
				this.$emit('setValue', this.name, value);
			},
			value(value) {
				this.$set(this, 'dValue', value);
			}
		},
		props: {
			name: String,
			value: String,
			rows: {
				type: Number,
				default: 2
			},
			cols: {
				type: [Boolean, Number],
				default: false
			},
			form: {
				type: Object,
				default() {
					return {}
				}
			}
		}
	}
</script>