<template lang="pug">
	input.text(:type="type === 'color' ? 'text' : type", :name="name", v-model="dValue", placeholder="Type...", :class="'text--type-' + type")
</template>

<script>
	import "./Text.scss";
	
	export default {
		data() {
			return {
				id: 'id-' + this.randomString(),
				dValue: this.value
			}
		},
		watch: {
			dValue(value) {
				this.$emit('setValue', this.name, value);
			},
			value(value) {
				this.$set(this, 'dValue', value);
			}
		},
		props: {
			name: String,
			value: String,
			type: {
				type: String,
				default: 'input'
			},
			form: {
				type: Object,
				default() {
					return {
					
					}
				}
			}
		}
	}
</script>