@import "css-utils";

.textarea-adm {
	border-radius: 4px;
	background-color: $white;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	display: block;
	width: 100%;
	padding: 8px 12px;
	font-family: 'Open Sans', sans-serif;
	font-size: .875rem;
	line-height: 1.43;
	color: #212b36;
	resize: none;
	word-break: break-all;
	position: relative;
	
	&--empty:before {
		content: attr(data-placeholder);
		position: absolute;
		padding: 8px 0 0 12px;
		left: 0;
		top: 0;
		display: block;
		color: #212b36;
		opacity: .5;
	}
}