@import "css-utils";

.text {
	border-radius: 4px;
	background-color: $white;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	display: block;
	padding: 8px 12px;
	font-family: 'Open Sans', sans-serif;
	font-size: .875rem;
	line-height: 1.43;
	color: #212b36;
	&:not(&--type-color) {
		width: 100%;
	}
	&--type-color {
		margin-left: auto;
		width: 108px;
		padding: 8px 20px 8px 16px;
		text-transform: uppercase;
	}
	
	&::placeholder {
		color: #212b36;
		opacity: .5;
		text-transform: none;
	}
}