<template lang="pug">
	.app
		router-view.app__content
</template>

<style lang="scss">
	.fade-enter-active, .fade-leave-active {
		transition: all 0.3s
	}
	
	.fade-enter, .fade-leave-active {
		opacity: 0;
		transform: translateY(-5px);
	}
</style>

<script>
	import Vue from 'vue';
	import Modal from './partials/Modal/Modal.vue';
	import Action from './partials/Action/Action.vue';
	
	import FormProject from './partials/Forms/Project.vue';
	
	import Ajax from '../classes/Ajax';
	
	Vue.component('modal', Modal);
	Vue.component('action', Action);
	
	Vue.component('form-project', FormProject);
	
	Vue.component('field-checkbox', require('./partials/Field/Checkbox.vue').default);
	Vue.component('field-text', require('./partials/Field/Text.vue').default);
	Vue.component('field-select', require('./partials/Field/Select.vue').default);
	Vue.component('field-date', require('./partials/Field/Date.vue').default);
	Vue.component('field-file', require('./partials/Field/File.vue').default);
	Vue.component('field-textarea', require('./partials/Field/Textarea.vue').default);
	Vue.component('field-radio', require('./partials/Field/Radio.vue').default);
	
	[
		'arrow', 'caret', 'caret-small', 'check', 'cog', 'close', 'collapse', 'drag', 'expand', 'layout-single',
		'layout-triple', 'lock', 'logo', 'pencil', 'plus', 'plus-o', 'trash', 'chevron'
		
	].map(item => {
		Vue.component('icon-' + item, require('../images/svg/' + item + '.svg'))
	});
	
	Vue.mixin({
		methods: {
			randomString() {
				return Math.random().toString(36).substring(7);
			}
		}
	});
	
	export default {
		mounted() {
			this.fetchData();
		},
		computed: {
			actionTitle() {
				return this.action ? this.action.title : null;
			},
			action() {
				return this.$store.state.action;
			}
		},
		methods: {
			fetchData() {
				new Ajax({
					url: this.$router.resolve({
						name: 'api',
						params: {
							entity: 'meta'
						}
					}).href,
					dataType: 'json',
				})
					.then(json => {
						if(json.status === 200) {
						}
					})
					.catch(res => {
					});
			}
		}
	}
</script>