<template lang="pug">
	.chapter
		.container.container--extended.container--editor.container--more-space.editor
			button.editor__closer(@click.stop="$emit('removeComponent', )")
				icon-close
			.chapter__body
				.chapter__title(
					v-html="meta.title || '#set title#'",
					:class="{'chapter__subTitle--empty': !meta.title}",
					:style="{color: project.primaryFontColor}"
				)
				.chapter__subTitle(
					v-html="meta.subTitle || '#set subtitle#'",
					:class="{'chapter__subTitle--empty': !meta.subTitle}",
					:style="{color: project.primaryFontColor}"
				)
</template>

<script>
	import "./Chapter.scss";
	
	export default {
		props: {
			meta: Object,
			project: Object,
			cKey: Number
		}
	}
</script>