@import "css-utils";

.chapter {
	margin-top: 110px;
	
	.container {
		margin-left: auto;
	}
	
	&__body {
		@include container;
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 62px;
		align-items: center;
	}
	
	&__title {
		font-family: Montserrat, sans-serif;
		font-size: 44px;
		font-weight: 600;
		letter-spacing: -0.8px;
	}
	
	&__subTitle {
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		line-height: 1.7;
	}
}
