@mixin container() {
	$root: &;
	margin: 0 auto;
	
	&:not(&--extended) {
		&:not(#{$root}--half) {
			max-width: 1120px;
		}
		&#{$root}--half {
			max-width: 560px;
		}
	}
	
	&--extended {
		&:not(#{$root}--half) {
			max-width: 1250px;
		}
		
		&#{$root}--half {
			max-width: 625px;
		}
	}
	
	&--editor {
		&:not(#{$root}--half) {
			max-width: 1290px;
		}
		
		&#{$root}--half {
			max-width: 708px !important;
		}
		padding: 20px;
		
		&#{$root}--more-space {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		
		&#{$root}--mid-space {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	
}