@import "./utilities/index";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

* {
	padding: 0;
	margin: 0;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	box-sizing: border-box;
	border-radius: 0;
	text-decoration: none;
	list-style: none;
}

:root {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	direction: ltr;
}

input, textarea, button, select {
	font: inherit;
}

@import "components/index";