<template lang="pug">
	.subChapter
		.container.container--extended.container--editor.editor
			button.editor__closer(@click.stop="$emit('removeComponent', )")
				icon-close
			.subChapter__body
				.subChapter__title(
					v-html="meta.title || '#set title#'",
					:class="{'subChapter__subTitle--empty': !meta.title}",
					:style="{color: project.primaryFontColor}"
				)
				.subChapter__subTitle(
					v-html="meta.subTitle || '#set subtitle#'",
					:class="{'subChapter__subTitle--empty': !meta.subTitle}",
					:style="{color: project.primaryFontColor}"
				)
</template>


<script>
	import "./SubChapter.scss";
	
	export default {
		props: {
			meta: Object,
			project: Object,
			cKey: Number
		}
	}
</script>