<template lang="pug">
	.action
		form.action__form
			slot.action__body(name="fields", @setValue="setValue")
			.action__footer
				button.button-adm.button-adm--secondary(@click.prevent="cancel") Cancel
				button.button-adm.button-adm--primary(@click.prevent="submit") Submit
</template>

<script>
	import "./Action.scss";
	
	import Ajax from '../../../classes/Ajax';
	
	export default {
		methods: {
			cancel() {
				this.$emit('close');
			},
			submit() {
				this.setValidation = {};
				
				if(this.url) {
					new Ajax({
						url: this.url,
						data: this.data,
						type: 'POST',
						dataType: 'json'
					})
						.then(json => {
							if (json.status === 200) {
								this.$emit('success');
								this.$emit('close');
							} else {
								if (json.hasOwnProperty('response')) {
									if (json.response.hasOwnProperty('errors')) {
										this.$emit('setValidation', json.response.errors);
									}
								}
							}
						})
						.catch(res => {
						})
				}   else {
					this.$emit('save')
				}
			}
		},
		props: {
			url: String,
			data: {
				type: Object,
				default() {
					return {
					
					}
				}
			}
		}
	}
</script>