@import "css-utils";

.portfolio {
	background: $lighter;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	
	&__container {
		@include container;
		margin-top: 132px;
		margin-bottom: 102px;
	}
	
	&__title {
		padding: 0 50px;
		font-size: 2.375rem;
		font-weight: 600;
		line-height: 1.32;
		letter-spacing: -.7px;
		color: $black;
	}
	
	&__subheader {
		padding: 0 62px;
		flex-basis: 100%;
		margin-bottom: -10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	&__subtitle {
		font-size: .9375rem;
		font-weight: 600;
		line-height: 1.33;
		letter-spacing: -.3px;
		color: $gray;
		text-transform: uppercase;
	}
	
	&__toggle {
		display: block;
		cursor: pointer;
		height: 22px;
		width: 22px;
		
		svg {
			height: 100%;
			width: 100%;
			display: flex;
			fill: transparentize($gray, .5);
		}
	}
	
	&__list {
		margin: 41px -12px 0;
		display: flex;
		flex-wrap: wrap;
	}
	
	&__item {
		padding: 0 12px;
		flex-basis: 25%;
		margin-top: 31px;
		min-height: 295px;
		position: relative;
		
		&--placeholder {
			&:after {
				content: '';
				right: 12px;
				left: 12px;
				top: 0;
				bottom: 0;
				display: block;
				position: absolute;
				border-radius: 4px;
				box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
				background: transparentize($black, .94);
			}
		}
	}
	
	&__add {
		height: 100%;
		display: flex;
		width: 100%;
		border-radius: 4px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
		
		align-items: center;
		justify-content: center;
		flex-direction: column;
		
		cursor: pointer;
	}
	
	&__add-icon {
		height: 64px;
		width: 64px;
		fill: $light;
	}
	
	&__add-label {
		margin-top: 5px;
		font-size: .875rem;
		font-weight: 600;
		color: $gray;
	}
	
	&__project {
		height: 100%;
	}
}