<template lang="pug">
	.portfolio
		c-header.portfolio__header
		.portfolio__container
			.portfolio__title Portfolio
			.portfolio__list
				.portfolio__subheader
					.portfolio__subtitle Active works
					button.portfolio__toggle(@click="$store.state.api.toggled.published = !$store.state.api.toggled.published")
						component(:is="'icon-' + ($store.state.api.toggled.published ? 'collapse' : 'expand')")
				.portfolio__item.portfolio__item--add(v-if="$store.state.api.toggled.published")
					button.portfolio__add(@click.prevent="showModal()")
						icon-plus.portfolio__add-icon
						.portfolio__add-label Add new project
				.portfolio__item(
					v-for="(project, index) in projectsList",
					:key="index",
					:data-id="project.id",
					:data-order="project.order"
					v-if="['published', 'support', 'draft'].indexOf(project.status) > -1 && $store.state.api.toggled.published"
				)
					project.portfolio__project(
						:status="project.status",
						:date="project.publishedAt",
						:title="project.name",
						:image="project.coverDesktop",
						:primary="Boolean(project.isFeatured)",
						:id="project.id",
						ref="projects"
					)
			.portfolio__list(v-if="$store.state.api.projects.archived")
				.portfolio__subheader
					.portfolio__subtitle Archive
					button.portfolio__toggle(@click="$store.state.api.toggled.archived = !$store.state.api.toggled.archived")
						component(:is="'icon-' + ($store.state.api.toggled.archived ? 'collapse' : 'expand')")
				.portfolio__item(v-for="(project, index) in projects.archived", :key="index", v-if="$store.state.api.toggled.archived")
					project.portfolio__project(
						:status="project.status",
						:date="project.publishedAt",
						:title="project.name",
						:image="project.coverDesktop",
						:primary="Boolean(project.isFeatured)",
						:id="project.id",
					)
		transition(name="fade", mode="out-in", appear)
			form-project.portfolio__modal(:active="modalActive", :route="modalEditUrl", :model="modalModel", @close="closeModal", :modalTitle="modalTitle")
</template>

<script>
	import '../../../styles/index.scss';
	
	import "./Portfolio.scss";
	
	import Ajax from "../../../classes/Ajax";
	
	export default {
		components: {
			'icon-plus': require('../../../images/svg/plus.svg'),
			project: require('../../partials/Project/Project.vue').default,
			'icon-collapse': require('../../../images/svg/collapse.svg'),
			'icon-expand': require('../../../images/svg/expand.svg'),
		},
		data() {
			return {
				order: [],
				modalActive: false,
				modalModel: {},
				modalEditUrl: null,
				modalTitle: null
			}
		},
		methods: {
			closeModal() {
				this.modalActive = false;
				this.modalModel = {};
				this.modalEditUrl = null;
				this.modalTitle = null;
				this.fetchProjects();
			},
			showModal(id = null) {
				if(id !== null) {
					this.modalTitle = 'Edit project #' + id;
					this.modalEditUrl = this.$router.resolve({
						name: 'api',
						params: {
							entity: 'projects',
							action: 'update'
						},
						query: {
							id: id
						}
					}).href;
					
					for(let i in this.projects) {
						if(this.projects.hasOwnProperty(i)) {
							if(Number(this.projects[i].id) === Number(id)) {
								this.modalModel = this.projects[i];
							}
						}
					}
				}   else {
					this.modalTitle = 'Create new project';
					this.modalEditUrl = this.$router.resolve({
						name: 'api',
						params: {
							entity: 'projects',
							action: 'insert'
						}
					}).href;
				}
				
				this.modalActive = true;
			},
			initSortable() {
				$('.portfolio__list')
					.sortable({
						placeholder: 'portfolio__item portfolio__item--placeholder',
						items: '.portfolio__item:not(.portfolio__item--add):not(.portfolio__item--placeholder)',
						handle: '.project-preview__dragger',
						opacity: .8,
						revert: 150,
						stop: (event) => {
							this.order = $(event.target).sortable('toArray', {
								attribute: 'data-id',
							}).map(item => {
								return parseInt(item);
							})
						}
					})
					.disableSelection();
			},
			fetchData() {
				this.fetchProjects();
			}
		},
		mounted() {
			this.$store.state.pageTitle = 'Portfolio';
			
			this.fetchData();
			
		},
		beforeDestroy() {
		},
		watch: {
			projects: {
				deep: true,
				handler() {
					this.initSortable();
				}
			},
			order: {
				deep: true,
				handler(order) {
					console.log(order);
				}
			}
		},
		computed: {
			projects() {
				return this.$store.state.api.projects;
			},
			projectsList() {
				return this.$store.state.api.projectsList;
			},
			toggled() {
				return this.$store.state.api.toggled;
			}
		}
	}
</script>