@import "css-utils";

.header {
	margin-top: 50px;
	
	&__container {
		@include container;
		
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 50px;
	}
	
	&__logo {
		width: 102px;
		height: 16px;
		cursor: pointer;
		
		svg {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	
	&__navigation {
		display: flex;
		align-items: center;
		margin: 0 -15px;
	}
	
	&__item {
		padding: 0 15px;
	}
	
	&__link {
		font-weight: 600;
		font-size: .875rem;
		letter-spacing: -.4px;
		
		&:not(&--active) {
			&:not([disabled]) {
				color: $black;
				cursor: pointer;
			}
			&[disabled] {
				opacity: .3;
				color: $black;
				cursor: not-allowed;
				text-decoration: line-through solid;
			}
		}
		
		&--active {
			color: $gray;
			cursor: default;
		}
	}
	
	&__logout {
		border-radius: 19px;
		background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(253, 253, 253));
		box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.1);
		padding: 10px 20px;
		font-size: .875rem;
		letter-spacing: -.4px;
		color: $gray;
		font-weight: 600;
		cursor: pointer;
	}
}