<template lang="pug">
	.header
		.header__container
			router-link.header__logo(:to="{name: 'index'}")
				logo
			ul.header__navigation
				li.header__item(v-for="(item, index) in navigation", :key="index")
					router-link.header__link(:to="item.to", :disabled="item.disabled || false", v-html="item.title", exact-active-class="header__link--active")
			button.header__logout(@click.prevent="logout") Log out
</template>

<script>
	import "./Header.scss";
	
	export default {
		components: {
			logo: require('../../../images/svg/logo.svg')
		},
		data() {
			return {
				navigation: [
					{
						title: 'Portfolio',
						to: {
							name: 'portfolio'
						}
					},
					{
						title: 'Blog',
						to: {
							name: 'blog'
						},
						disabled: true
					},
					{
						title: 'Vacancies',
						to: {
							name: 'vacancies'
						},
						disabled: true
					},
					{
						title: 'Summary',
						to: {
							name: 'summary'
						},
						disabled: true
					},
				]
			}
		}
	}
</script>