<template lang="pug">
	.heading(:style="{'background-image': 'url(' + project.backgroundImageDesktop + ')'}")
		.container
			.heading__top
				router-link.heading__logo(:to="{name: 'index'}")
					icon-logo(:style="{fill: project.primaryFontColor}")
				
				button.heading__menu-trigger(:style="{color: project.primaryFontColor, 'border-bottom-color': project.primaryFontColor}") Menu
			.heading__info
				.heading__text
					.heading__title(v-html="project.name", :style="{color: project.primaryFontColor}")
					.heading__slogan(v-html="project.slogan", :style="{color: project.primaryFontColor}")
				.heading__controls
					router-link.heading__overview-link(:to="{params: {id: projectId, anchor: 'overview'}}")
						span(:style="{color: project.primaryFontColor}") View case
						icon-chevron(:style="{'fill': project.primaryFontColor, 'background-color': project.dotColor}")
					.heading__status
						i(
						v-html="status",
						:style="{color: project.secondaryFontColor}"
						)
						span(
						v-html="formattedDate",
						v-if="project.status === 'published'",
						:style="{color: project.primaryFontColor}"
						)
		.container.container--extended
			.heading__image(:style="{'background-image' :'url(' + project.coverDesktop + ')'}")
		.container
			.heading__data
				.heading__client
					.heading__client-title(:style="{color: project.secondaryFontColor}") — Client
					.heading__client-value(
					:style="{color: project.primaryFontColor}",
					v-html="project.client"
					)
					a.heading__client-site(:href="project.link", target="_blank")
						icon-chevron(:style="{'fill': project.primaryFontColor, 'background-color': project.dotColor}")
						span(:style="{color: project.primaryFontColor}") Visit website
				.heading__task
					.heading__task-title(:style="{color: project.secondaryFontColor}") — Task
					.heading__task-value(
					:style="{color: project.primaryFontColor}",
					v-html="project.task"
					)
					.heading__role-title(:style="{color: project.secondaryFontColor}") — Task
					.heading__role-value(
					:style="{color: project.primaryFontColor}",
					v-html="project.roles.join(', ')"
					)
</template>

<script>
	import "./Heading.scss";
	
	import moment from 'moment';
	
	export default {
		computed: {
			status() {
				return {
					published: 'Published at',
					draft: 'In draft',
					support: 'In support',
					archived: 'Archived'
				}[this.project.status] || 'Unknown';
			},
			formattedDate() {
				return moment.unix(this.project.publishedAt).format('MMMM DD, YYYY')
			}
		},
		props: [
			'project', 'projectId'
		]
	}
</script>