@import "css-utils";

.heading {
	background-size: cover;
	background-position: bottom center;
	
	.container {
		position: relative;
	}
	
	&__top {
		position: absolute;
		top: 70px;
		right: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	&__logo {
		height: 18px;
		width: 108px;
		display: block;
		
		svg {
			height: 100%;
			width: 100%;
			display: flex;
		}
	}
	
	&__menu-trigger {
		font-family: Montserrat, sans-serif;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: -0.4px;
		border-bottom: 1px solid;
		cursor: pointer;
	}
	
	&__info {
		padding-top: 240px;
		display: flex;
		align-items: flex-end;
	}
	
	&__text {
		font-family: Montserrat, sans-serif;
		font-size: 44px;
		line-height: 1.23;
		letter-spacing: -0.8px;
	}
	
	&__title {
		font-weight: 200;
	}
	
	&__slogan {
		font-weight: 600;
	}
	
	&__controls {
		margin-left: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	
	&__overview-link {
		display: flex;
		align-items: center;
		
		span {
			font-family: Montserrat, sans-serif;
			font-size: 13px;
			font-weight: 600;
			line-height: 1.54;
			text-transform: uppercase;
			position: relative;
			z-index: 1;
		}
		
		svg {
			height: 48px;
			width: 48px;
			display: flex;
			margin-left: -12px;
			border-radius: 100%;
			transform: rotate(90deg);
			padding: 19px;
		}
	}
	
	&__status {
		margin-top: 14px;
		display: flex;
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		font-weight: 600;
		text-align: right;
		
		i {
			font-style: normal;
		}
		
		span {
			margin-left: 5px;
		}
	}
	
	&__image {
		margin-top: 90px;
		height: 585px;
		background-size: cover;
		background-position: center;
	}
	
	&__data {
		margin-top: 90px;
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 100px;
	}
	
	&__client,
	&__task,
	&__role {
		&-title {
			font-family: Montserrat, sans-serif;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 500;
			line-height: 1.67;
			letter-spacing: -0.3px;
		}
		&-value {
			margin-top: 5px;
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			line-height: 1.7;
		}
		&-site {
			margin-top: 40px;
			display: flex;
			align-items: center;
			
			span {
				font-family: Montserrat, sans-serif;
				font-size: 13px;
				font-weight: 600;
				line-height: 1.54;
				text-transform: uppercase;
				position: relative;
				z-index: 1;
			}
			
			svg {
				height: 48px;
				width: 48px;
				display: flex;
				margin-right: -8px;
				border-radius: 100%;
				padding: 19px;
			}
		}
	}
	
	&__task {
		&-value {
			font-size: 34px;
			font-weight: 600;
			line-height: 1.41;
		}
	}
	
	&__role {
		&-title {
			margin-top: 40px;
		}
	}
	
}