@import "css-utils";

.overview {
	padding-top: 200px;
	
	&__body {
		padding-top: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		&--triple {
			padding-bottom: 302px;
		}
	}
	
	&__icon {
		height: 100px;
		width: 100px;
		background-size: contain;
		background-position: center;
	}
	
	&__title {
		margin-top: 80px;
		font-family: Montserrat, sans-serif;
		font-size: 44px;
		font-weight: 600;
		line-height: 1.23;
		letter-spacing: -0.8px;
	}
	
	&__description {
		margin-top: 25px;
		max-width: 540px;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		line-height: 1.7;
		text-align: center;
	}
	
	&__image {
		background-size: cover;
		background-position: bottom center;
		margin-top: 80px;
		height: 672px;
		width: 100%;
	}
	
	&__tiles {
		margin-top: -190px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 30px;
	}
	
	&__tile {
		border-radius: 4px;
		box-shadow: 0 40px 120px 0 rgba(0, 0, 0, 0.5);
		padding: 80px 60px 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		&-icon {
			height: 70px;
			width: 70px;
			background-size: contain;
			background-position: center;
		}
		
		&-label {
			margin-top: 50px;
			font-family: Montserrat, sans-serif;
			font-size: 18px;
			font-weight: 600;
			line-height: 1.56;
			letter-spacing: -0.3px;
			text-transform: uppercase;
		}
		
		&-description {
			margin-top: 21px;
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			line-height: 1.5;
			text-align: center;
		}
	}
}