<template lang="pug">
	.overview
		.container.container--extended
			.overview__body(
				:style="{'background-color': project.overviewBackgroundColor}",
				:class="'overview__body--' + project.layout"
			)
				.overview__icon(:style="{'background-image': 'url(' + project.overviewLogo + ')'}")
				.overview__title(:style="{color: project.primaryFontColor}") Overview
				.overview__description(
					v-html="project.overviewText",
					:style="{color: project.secondaryFontColor}"
				)
				.overview__image(
					v-if="project.layout === 'single'",
					:style="{'background-image': 'url(' + project.overviewBackgroundDesktop + ')'}"
				)
		.container(
			v-if="project.layout === 'triple'"
		)
			.overview__tiles
				.overview__tile(
					v-for="(tile, index) in tiles", :key="index",
					:style="{'background-color': project.overviewBackgroundColor}"
				)
					.overview__tile-icon(:style="{'background-image': 'url(' + tile.icon + ')'}")
					.overview__tile-label(
						:style="{color: project.brandColor}",
						v-html="tile.label"
					)
					.overview__tile-description(
						:style="{color: project.primaryFontColor}",
						v-html="tile.description"
					)
	
</template>

<script>
	import "./Overview.scss";
	
	export default {
		computed: {
			tiles() {
				return [1,2,3].map(key => {
					return {
						icon: this.project['overviewTileImage' + key],
						label: this.project['overviewTileLabel' + key],
						description: this.project['overviewTileDescription' + key],
					}
				})
			}
		},
		props: [
			'project', 'projectId'
		]
	}
</script>