<template lang="pug">
	.project(:class="{'project--editing': isEditing}")
		control.project__control(
			:project="data",
			:projectId="projectId",
			:components="components",
			:componentTypes="componentTypes",
			:isEditing="isEditing",
			@fetchProject="fetchProject",
			@removeComponent="removeComponent",
			@addComponent="addComponent",
			@setStatus="setStatus",
			@toggleEditing="isEditing = !isEditing"
		)
		.project__body(
			:style="{'background-color': data.backgroundColor}",
			v-if="data"
		)
			heading.project__heading(
				:project="data",
				:projectId="projectId"
			)
			overview.project__overview(
				:project="data",
				:projectId="projectId"
			)
			component(
				v-for="(component, index) in components",
				:key="index",
				:is="'component-' + component.type"
				:meta="component.meta",
				:project="data",
				:cKey="index"
				@removeComponent="removeComponent",
			)
</template>

<script>
	import "./Project.scss";
	
	import Vue from 'vue';
	
	import Control from './Control/Control.vue';
	import Heading from './Heading/Heading.vue';
	import Overview from './Overview/Overview.vue';
	
	import Ajax from '../../../classes/Ajax';
	
	let componentTypes = [
		'chapter', 'subChapter', 'subChapterRight', 'subChapterLeft',
		'delimiter',
		'image', 'twoImages', 'multipleImages',
		'splitView', 'slider', 'tabs'
	];
	
	for(let i in componentTypes) {
		if(componentTypes.hasOwnProperty(i)) {
			try {
				let str = componentTypes[i],
					file = str.charAt(0).toUpperCase() + str.slice(1);
				Vue.component('component-' + str, require('./Components/' + file + '/' + file + '.vue').default);
			}   catch(e) {
				console.log(e);
			}
		}
	}
	
	
	export default {
		mounted() {
			this.fetchProject();
		},
		watch: {
			"$route": {
				deep: true,
				handler() {
					this.$nextTick(() => {
						this.fetchProject();
					})
				}
			}
		},
		methods: {
			setStatus(status) {
			
			},
			removeComponent(index) {
				this.components.splice(index, 1);
			},
			addComponent(component) {
				this.components.push({
					type: component,
					meta: {}
				});
			},
			fetchProject() {
				new Ajax({
					url: this.$router.resolve({
						name: 'api',
						params: {
							entity: 'projects',
							action: 'view'
						},
						query: {
							id: this.$route.params.id
						}
					}).href,
					dataType: 'json'
				})
					.then(json => {
						if (json.status === 200) {
							this.projectId = json.response.project.id;
							delete json.response.project.id;
							this.data = json.response.project;
							this.components = json.response.components;
						}
					})
					.catch(res => {
					})
			},
		},
		components: {
			control: Control,
			heading: Heading,
			overview: Overview
		},
		data() {
			return {
				isEditing: false,
				data: null,
				projectId: 0,
				components: [],
				componentTypes: componentTypes
			}
		},
	}
</script>