@import "css-utils";

.project-preview {
	$root: &;
	border-radius: 0 0 4px 4px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	
	&:not(&--type-archived) {
		&:not(:hover) {
			#{$root} {
				&__hero,
				&__dropdown,
				&__date,
				&__view-work {
					display: none;
				}
			}
		}
		
		&:hover {
			box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.1);
		}
	}
	
	&--type-archived {
		#{$root} {
			&__hero,
			&__date {
				display: none;
			}
		}
		&:not(:hover) {
			#{$root} {
				&__dropdown {
					display: none;
				}
			}
		}
	}
	
	&--type-published {
		&:hover {
			#{$root} {
				&__type {
					display: none;
				}
				
				&__header {
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
	
	&--type-archived {
		#{$root} {
			&__header {
				background-color: transparentize($black, .5);
				
				&:before {
					background: transparentize($white, .3);
				}
			}
			&__view-work {
				display: none;
			}
			&__hero {
				display: none;
			}
			&__content {
				opacity: .5;
			}
			
			&__toggle-dot {
				background: transparentize($black, .3);
			}
			
			&__toggle {
				&:hover {
					
					#{$root} {
						&__toggle-dot {
							background: transparentize($black, .1);
						}
					}
				}
			}
		}
	}
	
	&__header {
		height: 206px;
		background: $black no-repeat center;
		background-size: cover;
		border-radius: 4px 4px 0 0;
		position: relative;
		overflow: hidden;
		
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			display: block;
			background: transparentize($black, .4);
			z-index: 1;
			opacity: 0;
			transition: all .15s ease-in-out;
		}
		
		> * {
			z-index: 2;
		}
	}
	
	&__hero {
		position: absolute;
		top: 10px;
		left: 10px;
		height: 19px;
		width: 47px;
		background: transparentize($white, .8);
		border-radius: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white;
		font-size: .625rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	
	&__dropdown {
		position: absolute;
		top: 10px;
		right: 10px;
		height: 19px;
		width: 47px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	&__toggle {
		display: flex;
		align-items: center;
		margin: 0 -2px;
		height: 100%;
		cursor: pointer;
		
		&:not(:hover) {
			opacity: .4;
		}
	}
	
	&__toggle-dot {
		height: 4px;
		width: 4px;
		margin: 0 2px;
		background: $white;
		border-radius: 100%;
	}
	
	&__menu {
		position: absolute;
		right: 12px;
		top: 100%;
		background: white;
		border-radius: 4px;
		background: $white;
		overflow: hidden;
		
		&:not(&--active) {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-5px);
		}
	}
	
	&__item-button {
		padding: 10px 20px;
		font-size: .6875rem;
		font-weight: 600;
		letter-spacing: -.2px;
		text-align: center;
		color: $black;
		cursor: pointer;
	}
	
	&__view-work {
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translateY(-50%) translateX(50%);
		box-shadow: inset 0 0 0 1px transparentize($white, .6);
		border-radius: 19.5px;
		padding: 11px 27px 12px;
		font-size: .75rem;
		font-weight: 600;
		text-align: center;
		color: transparentize($white, .3);
		cursor: pointer;
		
		&:hover {
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
			background: $blue;
			color: $white;
		}
	}
	
	&__content {
		padding: 22px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-grow: 1;
	}
	
	&__meta {
		margin-top: auto;
	}
	
	&__date {
		font-family: 'Open Sans', sans-serif;
		font-size: .75rem;
		color: $grayer;
		margin-top: 5px;
		line-height: 1.33;
	}
	
	&__type {
		font-family: 'Open Sans', sans-serif;
		margin-top: 5px;
		font-size: .75rem;
		line-height: 1.33;
		
		&--published {
			color: $green;
		}
		
		&--draft {
			color: $blue;
		}
	}
	
	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: .875rem;
		font-weight: 600;
		margin-top: 8px;
		color: $dark;
	}
	
	&__dragger {
		height: 24px;
		width: 24px;
		cursor: pointer;
		
		display: flex;
		align-items: center;
		justify-content: center;
		
		svg {
			display: block;
			height: 16px;
			width: 10px;
			fill: $gray;
		}
	}
}