<template lang="pug">
	.project-preview(:class="'project-preview--type-' + status.toLowerCase()")
		.project-preview__header(:style="{'background-image': 'url(' + image + ')'}")
			.project-preview__hero(v-if="primary") Hero
			.project-preview__dropdown
				button.project-preview__toggle(@click="toggledMenu = !toggledMenu")
					.project-preview__toggle-dot(v-for="i in 3")
				.project-preview__menu(:class="{'project-preview__menu--active': toggledMenu}")
					.project-preview__item
						button.project-preview__item-button(
							v-html="status.toLowerCase() === 'archived' ? 'Unarchive' : 'Archive'",
							@click.prevent="switchArchiveStatus"
						)
			router-link.project-preview__view-work(:to="to") View Work
		.project-preview__content
			.project-preview__meta
				.project-preview__date(v-html="formattedDate", v-if="date && status === 'published'")
				.project-preview__type(v-html="status.charAt(0).toUpperCase() + status.slice(1)", :class="'project-preview__type--' + status.toLowerCase()")
				.project-preview__title(v-html="title")
			div.project-preview__dragger
				dragger
</template>

<script>
	import "./Project.scss";
	
	import moment from 'moment';
	import closest from 'closest';
	
	import Ajax from '../../../classes/Ajax';
	
	export default {
		data() {
			return {
				toggledMenu: false
			}
		},
		methods: {
			switchArchiveStatus() {
				(new Ajax({
					url: this.$router.resolve({
						name: 'api',
						params: {
							entity: 'projects',
							action: 'update'
						},
						query: {
							id: this.id
						}
					}).href,
					data: {
						status: this.status === 'archived' ? 'published' : 'archived'
					},
					type: 'POST',
					dataType: 'json'
				}))
					.then(json => {
						if(json.status === 200) {
							this.fetchProjects();
						}
					})
					.catch(res => {
					})
			}
		},
		components: {
			dragger: require('../../../images/svg/drag.svg')
		},
		computed: {
			formattedDate() {
				return moment.unix(this.date).format('MMM D, YYYY');
			},
			to() {
				return {
					name: 'project',
					params: {
						id: this.id
					}
				}
			}
		},
		props: {
			id: Number,
			title: String,
			status: {
				status: String,
				validator: value => ['published', 'draft', 'support', 'archived'].indexOf(value.toLowerCase()) > -1
			},
			date: Number,
			primary: Boolean,
			image: String
		}
	}
</script>